{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100
}
